<div class="col-md-8 col-md-offset-2">
  <h1 class="text-center">{{showBox.box.title}}</h1>

  <form ng-submit="question.createQuestion()" ng-controller="questionCreateController as question" class="question-form">
    <textarea class="form-control" rows="3" ng-model="question.questionData.content"></textarea>

    <button type="submit" class="btn btn-primary">
      <span ng-if="!question.processing">Post question</span>
      <span ng-if="question.processing" class="spinner"><span class="glyphicon glyphicon-repeat"></span></span>
    </button>
  </form>

  <!--TODO UPDATE CLASSES BELOW-->
  <div class="box-container panel panel-default" ng-show="showBox.box.questions.length" ng-repeat="question in showBox.box.questions | orderBy:'-votes'">
    <div class="row">
      <div class="col-md-2 vote-box" ng-controller="questionVoteController as vote">
        <span class="total-votes">{{question.votes}}</span>
        <a href="#" ng-click="vote.addVote(question, 'upvote')" ng-class="{ upvote: showBox.isUpvoted(question._id) }"><i class="fa fa-chevron-up"></i></a>
        <a href="#" ng-click="vote.addVote(question, 'downvote')" ng-class="{ downvote: showBox.isDownvoted(question._id) }"><i class="fa fa-chevron-down"></i></a>
      </div>
      <div class="col-md-8">
        <p class="question-title">{{question.content}}</p> by <a href="/u/{{question.creator}}" class="question-creator">{{question.creator}}</a>
      </div>
    </div>
  </div>
</div>
