<div class="col-md-4">
  <div class="panel panel-default profile-card">
    <h1>@{{currentUser.userData.username}}</h1>
    <p ng-if="!currentUser.userData.description">No description for this user is available.</p>
    <p ng-if="currentUser.userData.description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <div class="row stat-box">
      <div class="col-xs-4">
        <p class="stat-label">Upvotes</p>
        <p class="stat-amount">{{currentUser.userData.stats.upvotes}}</p>
      </div>
      <div class="col-xs-4">
        <p class="stat-label">Boxes</p>
        <p class="stat-amount">{{currentUser.userData.stats.boxes}}</p>
      </div>
      <div class="col-xs-4">
        <p class="stat-label">Questions</p>
        <p class="stat-amount">{{currentUser.userData.stats.questions}}</p>
      </div>
    </div>
  </div>
</div>

<div class="col-md-6 col-md-offset-1" ng-controller="userBoxesController as userBoxes">
  <ul class="nav nav-tabs">
    <li ng-class="userBoxes.getSelectedTabClass('boxes')" ng-click="userBoxes.changeSelectedTab()"><a data-toggle="tab">Boxes</a></li>
    <li ng-class="userBoxes.getSelectedTabClass('questions')" ng-click="userBoxes.changeSelectedTab()"><a data-toggle="tab">Questions</a></li>
    <div ng-show="currentUser.isCurrentUser" ng-controller="boxModalController as boxModal">
      <a ng-click="boxModal.open()" class="navbar-nav navbar-right btn btn-default">New Box</a>
    </div>
  </ul>

  <div class="jumbotron text-center" ng-show="userBoxes.processing">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Loading Boxes...</p>
  </div>

  <div class="row box-container panel panel-default" ng-show="userBoxes.boxes && userBoxes.selectedTab === 'boxes'" ng-repeat="box in userBoxes.boxes track by $index" ng-class="{'first-box-container': $first}">
    <div class="col-md-8">
      <p class="box-title"><a href="/box/{{box._id}}">{{box.title}}</a></p>
      <p class="box-description">{{box.description}}</p>
      <a ng-show="currentUser.isCurrentUser" ng-click="userBoxes.editBox($index)" class="edit-links">Edit</a>
      <a ng-show="currentUser.isCurrentUser" ng-click="userBoxes.deleteBox($index)" class="edit-links">Delete</a>
    </div>
    <div class="col-md-4">
      <!--<a class="btn btn-danger btn-xs pull-right" ng-click="userBoxes.deleteBox($index)">Delete</a>-->
      <!--<a class="btn btn-warning btn-xs pull-right" ng-click="userBoxes.editBox($index)">Edit</a>-->
      <div class="question-count">
        <span class="question-counter">{{box.question_count}}</span>
        <span class="glyphicon glyphicon-comment"></span>
      </div>
    </div>
  </div>


  <div class="row box-container panel panel-default" ng-show="userBoxes.questions && userBoxes.selectedTab === 'questions'" ng-repeat="question in userBoxes.questions track by $index" ng-class="{'first-box-container': $first}">
    <div class="col-md-8">
      <p class="box-title">{{question.content}}</p>
      <p class="box-description">Posted on box <a href="/box/{{question._box_id}}">{{question._box_title}}</a>.</p>
      <a ng-show="currentUser.isCurrentUser" ng-click="userBoxes.editBox($index)" class="edit-links">Edit</a>
      <a ng-show="currentUser.isCurrentUser" ng-click="userBoxes.deleteQuestion($index)" class="edit-links">Delete</a>
      <!--<a ng-show="currentUser.isCurrentUser" ng-click="userBoxes.deleteBox($index)" class="edit-links">Delete</a>-->
    </div>
    <div class="col-md-4">
      <!--<a class="btn btn-danger btn-xs pull-right" ng-click="userBoxes.deleteBox($index)">Delete</a>-->
      <!--<a class="btn btn-warning btn-xs pull-right" ng-click="userBoxes.editBox($index)">Edit</a>-->
    </div>
  </div>

</div>

<!--<div ng-show="currentUser.isCurrentUser" class="col-md-3" ng-controller="boxModalController as boxModal">-->
  <!--<a ng-click="boxModal.open()" class="btn btn-default">New Box</a>-->
<!--</div>-->
